@inject IConfiguration Configuration
@model TransportationManagement.Paging.PagingList<TransportationManagement.Models.VehicleData>
@{
    ViewData["Title"] = "List";
}

<div id="spinner-container">
    <img id="spinner" decoding="async" src="~/image/loading/spinner.gif" asp-append-version="true" />
</div>

<div class="d-flex justify-content-center align-item-center pb-2">
    <label class="text-primary h4" style="font-size: clamp(14px, 4vw, 20px);"> မော်တော်ယာဥ်</label>
</div>
@if (TempData.ContainsKey("Message") && TempData.ContainsKey("CssColor"))
{
    <div class="alert @TempData["CssColor"]"> @TempData["Message"] </div>
}
<div style="background-color: #4368d6d4" class="row border border-dark">

    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-white"> စာရင်း </label>
    </div>
</div>

<div class="row mt-3 search-container">
    <div class="col-lg-9 col-sm-12">
        <form class="input-group" method="get" action="@Url.Action("List", "VehicleData")">
            <div class="col">
                <input type="text" class="form-control" name="SearchString" placeholder="[Enter Keywords to Search]" style="border-top-left-radius:50px; border-bottom-left-radius:50px;">
            </div>
            <div class="input-group-append">
                <input class="btn btn-outline-primary btn-md advance-search-btn" type="button" data-bs-toggle="modal" data-bs-target="#advanceSearchModel" value="Advance Search" style="border-top-right-radius:50px; border-bottom-right-radius:50px;" />
                <div class="btn btn-outline-primary btn-md advance-search-btn-swl-510" data-bs-toggle="modal" data-bs-target="#advanceSearchModel" style="border-top-right-radius: 50px;border-bottom-right-radius: 50px;">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </form>
    </div>

    @*<div class="col-4 col-sm-4 col-md-4 advance-search-btn">
        <input class="btn btn-primary btn-md" type="button" data-bs-toggle="modal" data-bs-target="#advanceSearchModel" value="Advance Search" />
    </div>

    <div class="col-1 col-sm-1 col-md-1 mt-1 advance-search-btn-swl-510 justify-content-center align-self-center me-2">
        <i class="fa fa-solid fa-magnifying-glass-plus me-3 fa-xl" data-bs-toggle="modal" data-bs-target="#advanceSearchModel" style="color: #367fa9;/*! width: 300px; *//*! height: 300px; */" class="fa fa-solid fa-magnifying-glass-plus advance-search-btn-swl-510 me-3 fa-xl"></i>
    </div>*@
</div>

<div class="mt-3"><label class="text-primary fw-bold">@ViewBag.SearchString မော်တော်ယာဥ်အရေအတွက် @Model.TotalCount စီးရှိပါသည် </label></div>
<div class="row justify-content-between mt-2">
        <div class="col-5">
        <form method="get" action="@Url.Action("List", "VehicleData")">
            <input type="hidden" name="export" value="excel">
            <input type="hidden" name="SearchString" value="@ViewBag.SearchString">
            <input type="hidden" name="CctvInstalled" value="@ViewBag.CctvInstalled">
            <input type="hidden" name="POSInstalled" value="@ViewBag.POSInstalled">
            <input type="hidden" name="TelematicDeviceInstalled" value="@ViewBag.TelematicDeviceInstalled">
            <input type="hidden" name="YBSCompany" value="@ViewBag.YBSCompany">
            <input type="hidden" name="Manufacturer" value="@ViewBag.Manufacturer">
            <input type="hidden" name="YBSName" value="@ViewBag.YBSName">
            <input type="hidden" name="FuelType" value="@ViewBag.FuelType">
            <input type="hidden" name="pageNo" asp-for="@(Model.PageIndex)">
            <div class="p-2 bd-highlight">
                All
                <input class="form-check-input" type="checkbox" value="true" name="ExportAll">
                <button id="exportButton" type="submit" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Export Excel File"><i class="far fa-file-excel fa-lg"></i></button>
            </div>
        </form>
        </div>
        <div class="col-7 mt-2">
                <div class="col-md-12">
                    <form class="d-flex" method="post" asp-controller="VehicleData" asp-action="ImportFromExcel"
                  enctype="multipart/form-data" onsubmit="showSpinner()">
                        <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="file" name="file" class="form-control" accept=".xlsx,.xls" id="fileInput" />
                <button type="submit" id="uploadBtn" name="Upload" class="btn btn-primary" style="display: none;">Upload</button>
                    </form>
                </div>
        </div>

</div>

<div class="table-responsive mt-2 rounded">
    <table class="table table-bordered  table-striped">
        <thead style="background-color: royalblue;">
            <tr>
                <th class="text-white">
                    စဥ်
                </th>
                <th class="text-white">
                    ကုမ္ပဏီ
                </th>
                <th class="text-white">
                    ယာဥ်အမှတ်
                </th>
                <th class ="text-white">
                    ယာဥ်လိုင်း
                </th>
                <th class="text-white">
                    အမျိုးအမည် 
                </th>
                <th class="text-white">
                    အမျိုးအစား
                </th>
                <th class="text-white">
                    ထုတ်လုပ်သည့်ခုနှစ်
                </th>
                <th class="text-white">
                    စက်သုံးဆီ 
                </th>
                <th class="text-white">
                    CNGအိုးသက်တမ်း
                </th>
                <th class="text-white">
                    Operator Name
                </th>
                <th class="text-white">
                    ကမရ(၃)အမည်ပေါက်
                </th>
                <th class="text-white">
                    Telematic Device Install
                </th>
                <th class="text-white">
                    CCTV Install
                </th>
                <th class="text-white">
                    POS Install
                </th>
                <th class="text-white">လုပ်ဆောက်ချက်များ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YBSCompany.YBSCompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YBSType.YBSTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YBSName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturedYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelType.FuelTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CngQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperatorName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrantOperatorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelematicDeviceInstalled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CctvInstalled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.POSInstalled)
                    </td>
                    
                    <td>
                        <a  class="btn btn-outline link" data-toggle="tooltip" data-placement="top" title="Edit" asp-action="Edit" asp-route-id="@item.VehicleDataPkid"><i class="fa fa-duotone fa-pencil fa-lg" style="color:black"></i></a>|
                        <a  class="btn btn-outline link" data-toggle="tooltip" data-placement="top" title="Detail" asp-action="Details" asp-route-id="@item.VehicleDataPkid"><i class="fa fa-info-circle fa-lg text-primary"></i></a> |
                        <button class="btn btn-outline" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-bs-toggle="modal" data-bs-target=" @("#deleteModel" + @item.VehicleDataPkid)"><i class="fas fa-regular fa-trash fa-lg text-danger"></i></button>
                    </td>
                </tr>
                <!-- Delete Modal -->
                <div class="modal fade" id="@("deleteModel" + @item.VehicleDataPkid)" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div id="spinner-container">
                            <img id="spinner" decoding="async" src="~/image/loading/spinner.gif" asp-append-version="true" />
                        </div>
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure want to delete this Vehicle?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <form id="form" asp-action="Delete">
                                    <input type="hidden" name="Id" asp-for="@item.VehicleDataPkid" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Delete Modal -->
            }
        </tbody>
    </table>

@if (Model != null && Model.Any())
{

        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var totalPageNo = Model.TotalPageNo;
        var currentPageNo = Model.PageIndex;
        var searchString = ViewBag.SearchString ?? null;
        var searchOption = ViewBag.SearchOption ?? null;
        var cctvInstalled = ViewBag.CctvInstalled ?? null;
        var posInstalled = ViewBag.POSInstalled ?? null;
        var telematicDeviceInstalled = ViewBag.TelematicDeviceInstalled ?? null;
        var ybsCompany = ViewBag.YBSCompany ?? null;
        var manufacturer = ViewBag.Manufacturer ?? null;
        var ybsName = ViewBag.YBSName ?? null;
        var fuelType = ViewBag.FuelType ?? null;
        

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="List"
                       asp-route-pageNo="1"
                       asp-route-SearchString="@searchString"
                       asp-route-searchOption="@searchOption"
                       asp-route-CctvInstalled="@cctvInstalled"
                       asp-route-POSInstalled="@posInstalled"
                       asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
                       asp-route-YBSCompany="@ybsCompany"
                       asp-route-Manufacturer="@manufacturer"
                       asp-route-YBSName="@ybsName"
                       asp-route-FuelType="@fuelType">&laquo;&laquo;</a>
                </li>
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="List"
                       asp-route-pageNo="@(Model.PageIndex - 1)"
                       asp-route-SearchString="@searchString"
                       asp-route-searchOption="@searchOption"
                       asp-route-CctvInstalled="@cctvInstalled"
                       asp-route-POSInstalled="@posInstalled"
                       asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
                       asp-route-YBSCompany="@ybsCompany"
                       asp-route-Manufacturer="@manufacturer"
                       asp-route-YBSName="@ybsName"
                       asp-route-FuelType="@fuelType">Previous</a>
                </li>

                @for (int i = (Model.CurrentSet - 1) * Model.PageSize + 1;
               i <= Math.Min(Model.CurrentSet * Model.PageSize, Model.TotalPages);
               i++)
                {                    
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link" asp-action="List"
                           asp-route-pageNo="@i"
                           asp-route-SearchString="@searchString"
                           asp-route-searchOption="@searchOption"
                           asp-route-CctvInstalled="@cctvInstalled"
                           asp-route-POSInstalled="@posInstalled"
                           asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
                           asp-route-YBSCompany="@ybsCompany"
                           asp-route-Manufacturer="@manufacturer"
                           asp-route-YBSName="@ybsName"
                           asp-route-FuelType="@fuelType">@i</a>
                    </li>
                }

                @if (Model.CurrentSet * Model.PageSize < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="List"
                           asp-route-pageNo="@(Model.CurrentSet * Model.PageSize + 1)"
                           asp-route-SearchString="@searchString"
                           asp-route-searchOption="@searchOption"
                           asp-route-CctvInstalled="@cctvInstalled"
                           asp-route-POSInstalled="@posInstalled"
                           asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
                           asp-route-YBSCompany="@ybsCompany"
                           asp-route-Manufacturer="@manufacturer"
                           asp-route-YBSName="@ybsName"
                           asp-route-FuelType="@fuelType">...</a>
                    </li>
                }

                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    
                    <a class="page-link" asp-action="List"
                       asp-route-pageNo="@(Model.PageIndex + 1)"
                       asp-route-SearchString="@searchString"
                       asp-route-searchOption="@searchOption"
                       asp-route-CctvInstalled="@cctvInstalled"
                       asp-route-POSInstalled="@posInstalled"
                       asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
                       asp-route-YBSCompany="@ybsCompany"
                       asp-route-Manufacturer="@manufacturer"
                       asp-route-YBSName="@ybsName"
                       asp-route-FuelType="@fuelType">Next</a>
                </li>
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" asp-action="List"
                       asp-route-pageNo="@(Model.TotalPages)"
                       asp-route-SearchString="@searchString"
                       asp-route-searchOption="@searchOption"
                       asp-route-CctvInstalled="@cctvInstalled"
                       asp-route-POSInstalled="@posInstalled"
                       asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
                       asp-route-YBSCompany="@ybsCompany"
                       asp-route-Manufacturer="@manufacturer"
                       asp-route-YBSName="@ybsName"
                       asp-route-FuelType="@fuelType">&raquo;&raquo;</a>
                </li>
            </ul>
        </nav>
       /* var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var totalPageNo = Model.TotalPageNo;
        var currentPageNo = Model.PageIndex;
        var searchString = ViewBag.SearchString ?? null;
        var cctvInstalled = ViewBag.CctvInstalled ?? null;
        var posInstalled = ViewBag.POSInstalled ?? null;
        var telematicDeviceInstalled = ViewBag.TelematicDeviceInstalled ?? null;
        var cngQty = ViewBag.CngQty ?? null;
        var cngQtyOption = ViewBag.CngQtyOption ?? null;
 
    <a asp-action="List"
           asp-route-pageNo="@(Model.PageIndex - 1)"
           asp-route-SearchString="@searchString"
           asp-route-CctvInstalled="@cctvInstalled"
           asp-route-POSInstalled="@posInstalled"
           asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
       class="link btn btn-primary btn-sm @prevDisabled">
        Previous
    </a>
    <a asp-action="List"
           asp-route-pageNo="@(Model.PageIndex + 1)"
           asp-route-SearchString="@searchString"
           asp-route-CctvInstalled="@cctvInstalled"
           asp-route-POSInstalled="@posInstalled"
           asp-route-TelematicDeviceInstalled="@telematicDeviceInstalled"
    class="link btn btn-primary btn-sm @nextDisabled">
        Next
    </a>*/
    <span>
        Page No : @currentPageNo of @totalPageNo
    </span>
        <a asp-controller="VehicleData" asp-action="List" class="fas far fa-sync fa-xl" 
            style="text-decoration: none;"></a>

}
else
{
            <span>No data available</span>
            <a asp-controller="VehicleData" asp-action="List" class="fas far fa-sync fa-xl"></a>
}



</div>

<!-- Advance Search Modal -->
<div class="modal fade" id="advanceSearchModel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content shadow rounded">
            <div class="modal-header" style="background-color: royalblue;">
                <h5 class="text-white"> Vehicle Advance Search </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get" action="@Url.Action("List", "VehicleData")">
                    <div class="row mt-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="YBSCompany" class="control-label">YBS Company</label>
                            </div>
                            <select name="YBSCompany" class="form-control">
                                <option value="" selected>ရွေးချယ်ရန်</option>
                                <option value="YUPT">YUPT</option>
                                <option value="YBPC">YBPC</option>
                                <option value="ဗန္ဓုလအများနှင့်သက်ဆိုင်သောကုမ္ပဏီလီမိတက်">ဗန္ဓုလအများနှင့်သက်ဆိုင်သောကုမ္ပဏီလီမိတက်</option>
                                <option value="Omni Focus">Omni Focus</option>
                                <option value="‌ရွှေတောင်ပိုင်း">‌ရွှေတောင်ပိုင်း</option>
                                <option value="Power Eleven">Power Eleven</option>
                                <option value="ရွှေလမ်းခင်း">ရွှေလမ်းခင်း</option>
                                <option value="RCBT">RCBT</option>
                                <option value="စံဝေလ">စံဝေလ</option>
                                <option value="Trans Link">Trans Link</option>
                                <option value="City Liner">City Liner</option>
                                <option value="ရွှေပြည်သာသား">ရွှေပြည်သာသား</option>
                                <option value="Transport Star">Transport Star</option>
                                <option value="ပြည်စံသူ">ပြည်စံသူ</option>
                                <option value="ကုန်းဘောင်">ကုန်းဘောင်</option>
                                <option value="တိုက်ကြီးသား">တိုက်ကြီးသား</option>
                                <option value="ဘုရင့်နောင်">ဘုရင့်နောင်</option>
                                <option value="သက်ယဉ်အောင်">သက်ယဉ်အောင်</option>
                                <option value="အမြင့်မြတ်ဆုံး">အမြင့်မြတ်ဆုံး</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="Manufacturer" class="control-label">ယာဥ်အမျိုးအစား</label>
                            </div>
                            <select name="Manufacturer" class="form-control">
                                <option value="" selected>ရွေးချယ်ရန်</option>
                                <option value="Ankai">Ankai</option>
                                <option value="Foton">Foton</option>
                                <option value="Yutong">Yutong</option>
                                <option value="Hyundai">Hyundai</option>
                                <option value="King Long">King Long</option>
                                <option value="Higer">Higer</option>
                                <option value="Scania">Scania</option>
                                <option value="Daewoo">Daewoo</option>
                                <option value="Aero Town">Aero Town</option>
                                <option value="kmjata">kmjata</option>
                                <option value="KmJtc">KmJtc</option>
                                <option value="Mazda">Mazda</option>
                                <option value="Civilian">Civilian</option>
                                <option value="Golden Dragon">Golden Dragon</option>
                                <option value="Zhong Tong">Zhong Tong</option>
                                <option value="Rosa">Rosa</option>
                                <option value="Hino">Hino</option>
                                <option value="Isuzu">Isuzu</option>
                                <option value="ToyotaCoaster">
                                    ToyotaCoaster
                                </option>
                                <option value="DONGFENG">DONGFENG</option>
                                <option value="JIJIANG">JIJIANG</option>
                                <option value="SUZUKI">SUZUKI</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="YBSName" class="control-label">အမျိုးအမည်</label>
                            </div>
                            <select name="YBSName" class="form-control">
                                <option value="" selected>ရွေးချယ်ရန်</option>
                                <option value="City">City</option>
                                <option value="Mini">Mini</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="FuelType" class="control-label">စက်သုံးဆီ</label>
                            </div>
                            <select name="FuelType" class="form-control">
                                <option value="" selected>ရွေးချယ်ရန်</option>
                                <option value="cng">CNG</option>
                                <option value="diesel">Diesel</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="form-group">
                                <label for="POSInstalled" class="control-label">POS</label>
                                </div>
                            <select name="POSInstalled" class="form-control">
                                    <option value="" selected>ရွေးချယ်ရန်</option>
                                    <option value="Yes">ရှိ</option>
                                    <option value="No">မရှိ</option>
                                <option value="ASTI">ASTI</option>
                                <option value="YRTC">YRTC</option>
                                    <option value="InProgress">ဆောင်ရွက်ဆဲ</option>
                                </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="CctvInstalled" class="control-label">CCTV</label>
                            </div>
                            <select name="CctvInstalled" class="form-control">
                                <option value="" selected>ရွေးချယ်ရန်</option>
                                <option value="Yes">ရှိ</option>
                                <option value="No">မရှိ</option>
                                <option value="ASTI">ASTI</option>
                                <option value="YRTC">YRTC</option>
                                <option value="InProgress">ဆောင်ရွက်ဆဲ</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="TelematicDeviceInstalled" class="control-label">TelematicDevice</label>
                            </div>
                            <select name="TelematicDeviceInstalled" class="form-control">
                                <option value="" selected>ရွေးချယ်ရန်</option>
                                <option value="Yes">ရှိ</option>
                                <option value="No">မရှိ</option>
                                <option value="ASTI">ASTI</option>
                                <option value="YRTC">YRTC</option>
                                <option value="InProgress">ဆောင်ရွက်ဆဲ</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info mt-3 text-white" style="background-color: #3e81aa;">Search</button>

                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--/ Advance Search Modal -->
<script>
    function showSpinner() {
        document.getElementById('spinner-container').style.display = 'flex';
    }
</script>
